# Compiled JavaScript #
######################
dist/
node_modules/
*.js
*.js.map

# TypeScript #
#############
*.tsbuildinfo

# IDE files #
############
.vscode/

# Miscellaneous #
#################
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
